@use "../variables" as c;

.main {
  #portfolio {
    .title {
      font-size: 30px;
      font-weight: 300;
      text-align: center;
      padding: 0 0 40px;
      span {
        display: inline-block;
        padding: 15px 60px;
        border: 5px solid black;
      }
    }
    .choose {
      display: flex;
      justify-content: center;
      background-color: c.$dark;
      padding: 10px;
      p {
        font-size: 14px;
        font-weight: 500;
        color: c.$pureWhite;
        padding: 10px 20px;
        cursor: pointer;
        opacity: 0.6;
        transition: all 0.3s ease;
        &:hover {
          border-radius: 4px;
          background-color: c.$pureWhite;
          color: c.$dark;
          opacity: 1;
        }
      }
    }
    #portfolio-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .project {
      overflow: hidden;
      border-radius: 8px;
    }

    .project img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 8px;
      object-fit: cover;
    }

    .allProjects {
      background-color: c.$dark;
      .projectTop {
        display: flex;
        .project {
          width: 33.3%;
          a {
            img {
              width: 100%;
            }
          }
        }
      }
      .projectBottom {
        display: flex;
        .project {
          width: 33.3%;
          a {
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .more {
      text-align: center;
      background-color: c.$dark;
      a {
        font-size: 18px;
        font-weight: 200;
        color: c.$pureWhite;
      }
    }
  }
}
